.header-logo,
.header-fixed .header-logo {
    margin-top: 15px;
    margin-bottom: 15px;
}


@media (min-width: 768px) {
    .header-fixed .logo .logo-title {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    .header-fixed .logo .logo-title {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .header-logo {
        margin-top: 25px;
        margin-bottom: 20px;
    }


    .header-fixed .logo .logo-media {
        flex: 0 0 80px;
        max-width: 80px;
    }

    .header-fixed .logo .logo-title {
        font-size: 24px;
    }
}