/* catalog header */
.catalog-controls {
    display: flex;
    align-items: flex-start;
	margin: 0 0 15px 0;
    border-radius: 5px;
	font-size: 14px;
	line-height: 1;
}  
.catalog-controls > * {
    width: 100%;
    margin: 0;
    flex-wrap: nowrap;
}
.catalog-controls > * .col {
    width: 100%;
    padding: 0;
}
.col-catalog-controls {
    max-width: 100%;
    flex: 0 0 68px;
    margin: -2px -4px 0 10px;
}



.catalog-view {
	display: -ms-flex;
	display: flex;
	margin: -5px -11px -6px 0;
	border-radius: 5px;
}
.content-inner ul.catalog-view {
	margin: 0;
    align-items: center;
}
.content-inner ul.catalog-view li {
    padding: 0;
    margin: 0;
	position: relative;
    z-index: 1;
}
.catalog-view > *:before {
	display: none;
}

.catalog-view img {
	height: 16px;
}
.catalog-view .item.active {
	position: relative;
    z-index: auto;
}

.catalog-view .link {
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	margin: 0;
	border: 1px solid #eeeeeb;
	border-radius: 5px;
	background: linear-gradient(to bottom, rgba(242,242,242,1) 0%,rgba(210,210,209,1) 100%);
	box-shadow: 0 0 2px rgba(0,0,0,.8);
}
.catalog-view .item.icon-grid.active .link {
    margin-right: -2px;
}
.catalog-view .item.icon-list.active .link {
    margin-left: -2px;
}

.catalog-view .item.active .link {
    width: 33px;
    height: 33px;
    border-color: #a8aaab;
    background: linear-gradient(to bottom, rgba(169,169,171,1) 0%,rgba(214,215,216,1) 100%);
    box-shadow: none;
}

/* catalog content */
.catalog-grid {
	margin-left: -15px;
	margin-right: -15px;
}

.catalog-grid .item {
	display: -ms-flex;
	display: flex;
	margin-bottom: 30px;
	padding-left: 5px;
	padding-right: 5px;
}


.catalog-list .item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.catalog-list .item:not(:last-child) {
	border-bottom: 1px solid #c1c1c1;
}


@media (min-width: 375px) {
	.catalog-grid {
		margin-left: -5px;
		margin-right: -5px;
	}
}

@media (min-width: 576px) {	
	.catalog-grid {
		margin-left: 0;
		margin-right: 0;
	}

	.catalog-grid .item {
		margin-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 1200px) {
	.catalog-controls {
		height: 33px;
		padding: 0 0 0 10px;
		border: 1px solid #adaeb0;
		font-size: 11px;
	}

	.catalog-grid .item {
		margin-bottom: 10px;
	}
}