/* inputs */
input,
textarea {
	outline: none !important; 
    display: block;
    width: 100%;
    height: 40px;
    padding: 0px 15px;
    border: 1px solid #c7d8e3;
    border-radius: 10px;
    background: #fff;
    font-size: 14px;
    color: #4d4d4d;
}


textarea {
	resize: none;
    height: 170px;
    padding-top: 10px;
    padding-bottom: 10px;
}


label sup {
	top: -.25em;
	font-size: 100%;
	color: #fa4040;
}

.col-form-label {
	padding-top: 0;
	padding-bottom: 0;
}

.form-control {
	height: 32px;
	padding: 0 8px;
	border: 1px solid #9c1e15;
    border-bottom-color: #760700;
    border-radius: 6px;
	background-color: #fff;
	font-size: 14px;
	color: #000;
}

.form-control-input,
.form-control-textarea {
    width: 100%;
    min-height: 40px;
    padding: 0px 15px;
    margin: 0px;
    font: normal 14px/1 arial, tahoma, verdana;
    color: #4d4d4d;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #c7d8e3;
    border-radius: 10px;
}
.form-control-textarea {
    width: 100%;
    min-height: 170px;
    max-height: 300px;
    padding: 10px 15px;
    resize: vertical;
}

.form-control:focus {
	border-color: #9c1e15;
	border-bottom-color: #760700;
	background-color: #fff;
	box-shadow: none;
	color: #000;
}


.form-number {
	position: relative;
}


.form-bottom-description {
    display: block;
    padding: 0 0 10px;
    font-size: 12px;
    color: #404040;
}

.form-bottom-description sup {
    top: 0;
    font-size: 24px;
    color: #ff0000;
}

.formbox-showhide {
    display: none;
}