.logo {
    display: flex;
    line-height: 1.2;
    text-decoration: none;
}

.logo .logo-media {
    flex: 0 0 48px;
    max-width: 48px;
}

.logo .logo-title,
.logo .logo-description {
    display: none;
}

.logo:hover {
    text-decoration: none;
}


@media (min-width: 375px) {
    .logo .logo-media {
        flex: 0 0 54px;
        max-width: 54px;
    }
}

@media (min-width: 768px) {
    .logo .logo-media {
        flex: 0 0 66px;
        max-width: 66px;
        margin-right: 10px;
    }

    .logo .logo-title {
        display: block;
        font-size: 20px;
        font-weight: 700;
        color: #010101;
        text-transform: uppercase;
    }
}

@media (min-width: 1200px) {
    .logo .logo-media {
        flex: 0 0 105px;
        max-width: 105px;
    }

    .logo .logo-title {
        font-size: 30px;
        white-space: nowrap;
    }

    .logo .logo-description {
        display: block;
        max-width: 180px;
        font-size: 11px;
        color: #741a15;
    }
}