.nav {
    cursor: default;
    position: relative;
    display: block;
    list-style: none;
}

.nav .link {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    transition: box-shadow 300ms ease;
    font-size: 14px;
    color: #fff;
    text-shadow: -1px -1px black;
    text-decoration: none;
}

.nav .item.has-children .link {
    position: relative;
}

.nav .item.has-children .link::before {
    content: '\f112';
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    transition: 300ms ease transform;
    font-family: 'icomoon';
    font-size: 18px;
    color: #ffffff;
    text-shadow: -1px -1px black;
    line-height: 1;
}



.nav .link:hover,
.nav .item.open .link,
.nav .item.active .link {
    background-color: #9c1e15;
    box-shadow: inset 0px 0px 20px #5f0802;
}

.nav .item.open .link::before {
    transform: translateY(-50%) rotate(90deg);
}


.sub-menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #dde5eb;
}


.sub-menu .sub-menu-item {
    border-bottom: 1px solid #c1c1c1;
}


.sub-menu .sub-menu-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #2c2c2c;
}

.sub-menu .sub-menu-link.higlight {
    background-color: #fff;
}

.sub-menu .sub-menu-item:last-child .sub-menu-link {
    padding-bottom: 15px;
}
/*end submenu*/


.nav-tabs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}


.nav-tabs .nav-link {
    padding: 12px 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    color: #292929;
    text-decoration: underline;
}

.nav-tabs .nav-link.active {
    background-color: #C5251C;
    background: linear-gradient(to bottom, #D13028, #D13028, #D13028, #C12D26, #9C2620, #9C2620, #9C2620) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    text-decoration: none;
}

.tab-content {
    padding-top: 15px;
    padding-bottom: 15px;
}


@media (min-width: 1200px) {
    .nav {
        display: flex;
    }

    .nav .item {
        position: relative;
    }
    
    .nav .item:not(:last-child):after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        height: 22px;
        border-right: 1px dotted rgba(255,255,255,.5);
        transform: translateY(-50%);
    }
    
    .nav .link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        padding: 0 6px;
        border-radius: 5px;
        transition: box-shadow 300ms ease;
        font-size: 14px;
        color: #fff;
        text-shadow: -1px -1px black;
        text-decoration: none;
    }

    .nav .item.has-children .link::before {
        display: none;
    }

    .nav .item.open .link {
        background-color: transparent;
        box-shadow: none;
    }


    .sub-menu {
        display: none !important;
    }
}