.form-search {
    position: relative;
    display: flex;
    font-size: 11px;
}

.form-search::before {
    content: '\e900';
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-family: 'icomoon';
    font-size: 24px;
    color: #bfbfbf;
    line-height: 1;
}

.form-search input {
    outline: none;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    height: 30px;
    padding: 0 15px 0 30px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.form-search input::placeholder {
    color:gray;
}

.form-search button {
    cursor: pointer;
    flex: 0 0 85px;
    width: 85px;
    max-width: 85px;
    height: 30px;
    margin: 0 0 0 15px;
    padding: 0;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(254,254,254,1) 45%,rgba(189,193,194,1) 80%,rgba(254,254,254,1) 100%);
    font-weight: 700;
    color: #5f6566;
    text-align: center;
    text-shadow: 1px 1px white;
}


#mobile-search {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 99;
    top: 55px;
    left: 0;
    right: 0;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.15);
}

#mobile-search.open {
    opacity: 1;
    visibility: visible;
}

#mobile-search .form-search {
    position: relative;
    border-radius: 5px;
    background: #dee5eb;
}

#mobile-search .form-search:before {
    display: none;
}

#mobile-search .form-search input,
#mobile-search .form-search button {
    height: 40px;
}

#mobile-search .form-search input {
    padding: 0 50px 0 15px;
    background-color: transparent;
    font-size: 14px;
}

#mobile-search .form-search button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 0;
    background: none;
    font-size: 24px;
}


@media (min-width: 375px) {
    #mobile-search {
        top: 58px;
    }
}

@media (min-width: 768px) {
    #mobile-search {
        top: 64px;
    }
}

@media (min-width: 1200px) {
    #mobile-search.open {
        opacity: 0;
        visibility: hidden;
    }
}